.deps/
Makefile
!/packages/**/Makefile
Makefile.in
*.o

/aclocal.m4
/autom4te.cache
/autoscan-*.log
/autoscan.log
/compile
/config.guess
/config.h
/config.h.in
/config.sub
/config.log
/config.status
/configure
/configure.scan
/depcomp
/doc/*.1
/install-sh
/ltmain.sh
/missing
/stamp-h1
/texinfo.tex
